:root {
  /* Cores principais */
  --cor-primaria: #00645A;
  --cor-secundaria: #F58634;

  /* Fundos */
  --cor-fundo: #1E1E1E;
  --cor-fundo-claro: #F9FAFB;
  --cor-branco: #FFFFFF;

  /* Textos */
  --cor-texto: #1E1E1E;
  --cor-texto-claro: #FFFFFF;

  /* Bordas / detalhes */
  --cor-borda: #9FC4C0;

  /* Tipografia */
  --fonte-principal: "Atkinson Hyperlegible", sans-serif;
}