* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--cor-fundo-claro); 
  color: #333333;
  font-family: var(--fonte-principal);
}

/* Estrutura para empurrar o footer para o final da tela */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}